body {
    box-sizing: border-box;
    background-image: url(../images/tilebackground.jpg);
}

#gameTitle {
    border: 2px solid black;
    color: white;
    background-color: coral;
    margin-bottom: 10px;
}

#directions {
    background-color: blanchedalmond;
    color: teal;
    margin-bottom: 10px;
}

#randomNumFrame {
   height: 200px;
   padding: 40px;
   background-color: MediumSeaGreen;
   color: black;
   text-align: center;
   margin-right: 10px;
}

#gameTally {
    height:200px;
    padding: 40px;
    background-color: greenyellow;
    color: black;
    text-align: left;
} 

#scoreBoard {
    margin-top: 10px;
}