body {
    box-sizing: border-box;
    background-image: url("../images/ruby.jpg");
}

#gameTitle {
    margin: 2px solid black;
}

#randomNum {
   height: 200px;
   padding: 40px;
   background-color: grey;
   color: black;
}

#gameTally {
    height:200px;
    padding: 40px;
    background-color: greenyellow;
    color: black;
} 